* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("https://images2.alphacoders.com/596/thumb-1920-596297.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}